<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <title>Footer</title>
</head>
<body>

    <!-- FOOTER START -->
<footer>
   <div class="footer-container">
       <div class="col-1">
           <h2>Information</h2>
           <p>En gastropub er en hybrid pub, bar <br> og restaurant, der er kendt for servering <br> af alkoholiske drikkevarer og mad.</p>
       </div>
       <div class="col-2">
           <h2>Kontakt</h2>
           <ul id="contact-data"></ul>
       </div>
   
       <div class="col-3">
           <h2>Social Media</h2>
           <i class="SoME-icons fa-brands fa-facebook fa-2x"></i>
           <i class="SoME-icons fa-brands fa-square-instagram fa-2x"></i>
           <i class="SoME-icons fa-brands fa-twitter fa-2x"></i>
       </div>
   </div>
</footer>
<!-- FOOTER END -->
</body>
</html>